.tile-container {
  width: 60px;
  height: 60px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-tile {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.17);
  width: 60px;
  height: 60px;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.open-tile:hover {
  background: rgba(255, 255, 255, 0.33);
}

.null-tile {
  width: 62px;
  height: 62px;
  border-radius: 22px;
  margin: 0 auto;

  -webkit-transition: all 2.0s ease-out;
  -moz-transition: all 2.0s ease-out;
  -ms-transition: all 2.0s ease-out;
  -o-transition: all 2.0s ease-out;
}

.red-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px #fff;

  -webkit-transition: all 2.0s ease-in;
  -moz-transition: all 2.0s ease-in;
  -ms-transition: all 2.0s ease-in;
  -o-transition: all 2.0s ease-in;
}

.blue-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px #fff;

  -webkit-transition: all 2.0s ease-in;
  -moz-transition: all 2.0s ease-in;
  -ms-transition: all 2.0s ease-in;
  -o-transition: all 2.0s ease-in;
}

.glow-tile {
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgba(46, 46, 46, 0.39);
  width: 60px;
  height: 60px;
  cursor: pointer;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.glow-tile:hover {
  box-shadow: 0px 0px 20px white;
  background: rgba(46, 46, 46, 0.19);
  -webkit-transition: all 1s ease-out;
}

.no-gem {
  display: none;
}

.gem-blue {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0px;
  border-radius: 2px;
  background-color: #00DBB9;
  border-top: 7px solid #35f4d6;
  border-right: 7px solid #00DBB9;
  border-bottom: 7px solid #289f8d;
  border-left: 7px solid #289f8d;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  -webkit-transition: -webkit-transform 1.0s ease-in-out;
  transition: all 2s ease;
}

.gem-blue:hover {
  box-shadow: none;
  transition: all 2s ease;
  -webkit-transform: rotate(225deg);
}

.gem-blue-inactive {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0px;
  border-radius: 2px;
  background-color: #00DBB9;
  border-top: 7px solid #35f4d6;
  border-right: 7px solid #00DBB9;
  border-bottom: 7px solid #289f8d;
  border-left: 7px solid #289f8d;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  cursor: default;
  transition: all 1.0s ease-out;
}

.gem-blue .shadow {
  position: absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
  z-index:-1;
  filter: blur(20px);
  transition: filter 1s ease;
}

.gem-red {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  border-radius: 2px;
  background-color: rgba(207, 9, 9, 0.65);
  border-top: 7px solid #ee866a;
  border-right: 7px solid #db3b00;
  border-bottom: 7px solid #9f2828;
  border-left: 7px solid #9f2828;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: all 2s ease;
}

.gem-red:hover {
  box-shadow: none;
  transition: all 2s ease;
  -webkit-transform: rotate(135deg);
}

.gem-red-inactive {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0px;
  border-radius: 2px;
  background-color: rgba(207, 9, 9, 0.65);
  border-top: 7px solid #ee866a;
  border-right: 7px solid #db3b00;
  border-bottom: 7px solid #9f2828;
  border-left: 7px solid #9f2828;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  cursor: default;
  transition: all 1.0s ease-out;
}

.gem-red .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(20px);
  transition: filter 1s ease;
}
